$colors: (
  "text": #102a42,
  "yellow-1": #fffaeb,
  "yellow-2": #e9b949,
  "gray-1": #617d98,
  "gray-2": #f1f5f8,
  "white-1": #ffffff,
);

$social-media-colors: (
  "facebook": #3b5998,
  "twitter": #00aced,
  "linkedin": #0077b5,
  "youtube": #cd201f,
  "instagram": #e4405f,
  "github": #333,
);

$max-width: 110rem;

$z-indexes: (
  "above": 500,
  "modal": 400,
  "overlay": 300,
  "dropdown": 200,
  "default": 1,
  "below": -1,
);
