$webfatorial-colors: (
  "webfatorial-primary": #157bad,
  "webfatorial-secondary": #06618c,
  "webfatorial-success": #3cc368,
  "webfatorial-warning": #f5a600,
  "webfatorial-error": #ec5840,
  "webfatorial-gray-1": #363636,
  "webfatorial-gray-2": #4f4f4f,
  "webfatorial-gray-3": #828282,
  "webfatorial-gray-4": #bdbdbd,
  "webfatorial-gray-5": #e0e0e0,
  "webfatorial-white": #fcfcfc,
);

$social-media-colors: (
  "facebook": #3b5998,
  "twitter": #00aced,
  "linkedin": #0077b5,
  "youtube": #cd201f,
  "instagram": #e4405f,
  "github": #333,
);

$max-width: 110rem;

$z-indexes: (
  "above": 500,
  "modal": 400,
  "overlay": 300,
  "dropdown": 200,
  "default": 1,
  "below": -1,
);
